.card {
    display: grid;
    grid-template-columns: auto auto auto;
}

.gallery-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    object-fit: cover;
}
.gallery-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    object-fit: cover;
}
.gallery-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}