header{
    background-color: brown;
    color:white ;
    text-align: center;
    padding: 10px;
}
#section1 {
    height: 600px;
    width: 45%;
    background-color: cornsilk;
    padding: 30px;
    text-align: center;
    display: inline-block;
 }

 #section2{
        height: 600px;
        width: 45%;
        background-color: cornsilk;
        padding: 30px;
        text-align: center;
        display: inline-block;
    
 }