#navlist {
    list-style: none;
    padding: 0px;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#nav {
    float: left;
    width: 15%;
    height: 2500px;
    padding: 0px;

}

#sidebar {
    float: right;
    border: solid;
    text-align: center;
    padding: 10px;

    
}
ul {
    padding: 10px;
}

#yoshitag {
    background-color: rgb(211, 214, 214);
}

#extrainfo {
    background-color: rgb(211, 214, 214);
}
