@font-face {
    font-family: "Klavika";
    src: url("./assets/klavika-bold.otf");
}

body {
    margin:0;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #f0f2f5;
}


#create {
    display: block;
    text-align: center;
    border-bottom: solid rgb(220, 220, 220);   
}

#firstpart {
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type=submit] {
    display: flex;
    border: none;
    justify-content: center;
    background-color: rgb(69, 134, 4);
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    
}

select {
    padding: 10px;
    display: inline-block;

}
.firstlast {
    display: inline-block;
    width: 200px;
}

input {
    padding: 10px;

}
.long {
    display: block;
    width: 100%;
}
main {
    display:grid;
    grid-template-columns: 30% 40% 30%;
}

.logo {
    font-family: "Klavika";
    color:#1877f2;
    font-size: 3em;
    text-align: center;
    margin-top:10%;
}

.form {
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    box-shadow: 0px 0px 40px 00px rgba(75,75,75, 0.3);
    color: #444;
}

@media screen and (max-width: 1200px) {
    main {
        grid-template-columns: 20% 60% 20%;
    }
}

@media screen and (max-width: 724px) {
    main {
        grid-template-columns: 10% 80% 10%;
    }
}