/*
  Configure the gallery to be a flex container that will be used as a
  horizontal masonry gallery, and also restrict its width to 800px (100% max),
  in addition to centering it on the page.
*/
#gallery {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

/*
  Configure the gallery images to be sized based on height,
  flex to fill the available space, and set object-fit to 'cover'
  to force images to be cropped with the masonry gallery.
  Also set them to be partially transparent, and configure them for
  animation using CSS Transitions.
*/
/* #gallery img {
  opacity: 0.8;
  transition: opacity 0.25s, transform 0.25s;
  width: 20%;
} */

/*
  On hover, make the image completely opaque, change the cursor to a pointer,
  and increase the size of the image slightly.
*/
#gallery img:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}

/*
  When the screen becomes very narrow, reconfigure images to be sized
  based on width rather than height.
*/
/* @media screen and (max-width: 480px) {
  #gallery img {
    height: auto;
    width: 100%;
  }
} */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  opacity: 0.8;
  transition: opacity 0.25s, transform 0.25s;
  width: 20%;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
