#mygrid {
    display: grid;
    grid-template-columns: 15% 40% 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "sidenav myheader myheader"
    "sidenav content content"
    "footer footer footer";
    margin: 20px;
}
header {
    background-color: rgb(99, 151, 247);
    grid-area: myheader;
    padding: 10px;
    border-bottom: solid 4px grey;
}
nav {
    background-color: rgb(136, 143, 245);
    grid-area: sidenav;
    padding: 10px;
}
main {
    background-color: rgb(250, 239, 223);
    grid-area: content;
    padding-left: 20px;
    padding-right: 20px;
}
footer {
    background-color: rgb(88, 80, 248);
    grid-area: footer;
    padding: 10px;
}
a:hover {
    background-color: rgb(3, 50, 158);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
a {
    display: flex;
    padding: 5px;
    text-decoration: none;
    color: black;
}
header {
    text-align: center;
}
@media screen and (max-width: 600px) {
    #mygrid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "myheader"
        "sidenav"
        "content";
        text-align: center;
        margin: 5px;
    }
}

#img1 {
    width: 25%;
    float: right;
    margin-right: 30px;
    border-radius: 5px;
}

#img2 {
    width: 25%;
    float: left;
    margin-left: 30px;
    border-radius: 5px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    font-weight: 700;
}
#news {
    font-size: medium;
    padding-left: 5px;
}